body{
    max-width: 1000px;
    margin: auto;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
}
.logo{
    grid-column: span 3;
    height: 120px;
}

}
.content{  
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: span 5;
    height: 320px;
    grid-gap: 2rem; 
}

.sublinks{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column: span 5;
    height: 420px;
    grid-gap: 0.5rem;
}
.container3{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column: span 3;
    height: 700px;
}
.latest_news{
    grid-column: span 3;
    height: 700px;
}
.user_input{
  grid-column: span 1;
  height: 550px;  
}
.sideimages{
    grid-column: span 1;
}
.mainimage{
    grid-column: span 1;
}
.Bikeoil{
    grid-column: span 1;
}

.container4{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column: span 5;
    height: 220px;
}
.magazine{
    grid-column: span 1;
    height: 200px;
}
.latestreviews{
    grid-column: span 3;
    height: 200px;
}
.links{
    grid-column: span 3;
    height: 200px;
}
.footer{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column: span 5;
    height: 160px ;
}
.law{
    grid-column: span 3;
    height: 120px;
}
.contact{
    grid-column: span 2;
    height: 100px;
}

.navigation{
        grid-column: span 5;
}

.logo_container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-column: span 3;
    }
.logo_dividing_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: span 3;
    justify-content: left;
}

